.login-input{
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    max-width: 250px;
}

.password-input{
    position: absolute;
    left: 50%;
    top: 39%;
    transform: translate(-50%);
    max-width: 250px;
}

#submit-btn {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%) !important;
}

.toggle{
    position: absolute !important;
    left: 50% !important;
    top: 60% !important;
    transform: translate(-50%) !important;

}


.social-one{
    position: absolute !important;
    left: 50% !important;
    top: 70% !important;
    transform: translate(-50%) !important;

}
.social-two{
    position: absolute !important;
    left: 50% !important;
    top: 78% !important;
    transform: translate(-50%) !important;
}